*
!/package-lock.json
!/tsconfig.base.json


!/apps/server/package.json
!/apps/server/tsconfig.prod.json
!/apps/server/tsconfig.json
!/apps/server/.swcrc
!/apps/server/nest-cli.json
!/apps/server/src

!/apps/mini/src/
!/apps/mini/next.config.mjs
!/apps/mini/src/
!/apps/mini/src/
!/apps/mini/src/

!/apps/mobile/src/
!/apps/mobile/next.config.mjs
!/apps/mobile/src/
!/apps/mobile/src/
!/apps/mobile/src/
