<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>f0a0ce51-b133-4e74-8c4c-464376e60ff3</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>clydzHypxl2weS1aA3BVGUKdtZunaIwoXNm14IW1</string>
	<key>PROJECT_APP_UUID</key>
	<string>5dd5ceaa-e314-4776-98f8-9f93805681ec</string>
</dict>
</plist>